{% extends 'base.html.twig' %}

{% block body %}
  {% include 'partial/_header.html.twig' %}
  <div class="container mx-auto mt-12 text-white">
    <h2 class="font-semibold">
      About
    </h2>
    <pre class="text-sm">
      {{- about -}}
    </pre>
  </div>
{% endblock %}
