{% if breadcrumbs is not empty %}
  <div class="container mx-auto border-b border-gray-600">
    <div class="flex items-baseline gap-2 px-2 text-base overflow-x-scroll">
      {% for item in breadcrumbs %}
        <a href="{{ item.uri }}" class="font-medium text-gray-300 whitespace-nowrap">{{ item.label }}</a>
        {% if not loop.last %}
          <span class="font-thin">/</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
