<div class="mt-2 border-0 border-t-2 border-dashed border-gray-600 p-2 text-center text-gray-400">
  <div class="break-words text-gray-100">
    {{ get_title()|default('Title') }}
  </div>
  <div class="mt-2 grid border-collapse grid-cols-2 font-medium">
    <a data-e2e="prev-link" href="{{ prev_url|default }}" class="rounded-l border border-gray-700 py-2 hover:bg-gray-800">&laquo; Prev</a>
    <a data-e2e="next-link" href="{{ next_url|default }}" class="rounded-r border border-l-0 border-gray-700 py-2 hover:bg-gray-800">Next &raquo;</a>
  </div>
</div>
